.overlay {
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  z-index: 999999;
  position: fixed;
}

.content {
  border: none;
  border-radius: 0;
  position: relative;
  padding: 0;
  inset: 0;
  background: transparent;
  display: grid;
  justify-items: center;
}

